@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #FFFFFF; /* oklch(1 0 0) */
  --foreground: #1A1A1A; /* oklch(0.145 0 0) */
  --card: #FFFFFF; /* oklch(1 0 0) */
  --card-foreground: #1A1A1A; /* oklch(0.145 0 0) */
  --popover: #FFFFFF; /* oklch(1 0 0) */
  --popover-foreground: #1A1A1A; /* oklch(0.145 0 0) */
  --primary: #1A1A1A; /* oklch(0.205 0 0) */
  --primary-foreground: #FAFAFA; /* oklch(0.985 0 0) */
  --secondary: #F5F5F5; /* oklch(0.97 0 0) */
  --secondary-foreground: #1A1A1A; /* oklch(0.205 0 0) */
  --muted: #F5F5F5; /* oklch(0.97 0 0) */
  --muted-foreground: #737373; /* oklch(0.556 0 0) */
  --accent: #F5F5F5; /* oklch(0.97 0 0) */
  --accent-foreground: #1A1A1A; /* oklch(0.205 0 0) */
  --destructive: #DC143C; /* oklch(0.577 0.245 27.325) */
  --destructive-foreground: #DC143C;
  --border: #E5E5E5; /* oklch(0.922 0 0) */
  --input: #E5E5E5; /* oklch(0.922 0 0) */
  --ring: #A3A3A3; /* oklch(0.708 0 0) */
  --drop-red: #DC143C;
  --drop-black: #1A1A1A;
  --drop-white: #FAFAFA;
  --chart-1: #E76E50;
  --chart-2: #2A9D8F;
  --chart-3: #264653;
  --chart-4: #E9C46A;
  --chart-5: #F4A261;
  --radius: 0.625rem;
  --sidebar: #FAFAFA;
  --sidebar-foreground: #1A1A1A;
  --sidebar-primary: #1A1A1A;
  --sidebar-primary-foreground: #FAFAFA;
  --sidebar-accent: #F5F5F5;
  --sidebar-accent-foreground: #1A1A1A;
  --sidebar-border: #E5E5E5;
  --sidebar-ring: #A3A3A3;
}

.dark {
  --background: #1A1A1A; /* oklch(0.145 0 0) */
  --foreground: #FAFAFA; /* oklch(0.985 0 0) */
  --card: #1A1A1A; /* oklch(0.145 0 0) */
  --card-foreground: #FAFAFA; /* oklch(0.985 0 0) */
  --popover: #1A1A1A; /* oklch(0.145 0 0) */
  --popover-foreground: #FAFAFA; /* oklch(0.985 0 0) */
  --primary: #FAFAFA; /* oklch(0.985 0 0) */
  --primary-foreground: #1A1A1A; /* oklch(0.205 0 0) */
  --secondary: #262626; /* oklch(0.269 0 0) */
  --secondary-foreground: #FAFAFA; /* oklch(0.985 0 0) */
  --muted: #262626; /* oklch(0.269 0 0) */
  --muted-foreground: #A3A3A3; /* oklch(0.708 0 0) */
  --accent: #262626; /* oklch(0.269 0 0) */
  --accent-foreground: #FAFAFA; /* oklch(0.985 0 0) */
  --destructive: #7F1D1D; /* oklch(0.396 0.141 25.723) */
  --destructive-foreground: #F87171; /* oklch(0.637 0.237 25.331) */
  --border: #262626; /* oklch(0.269 0 0) */
  --input: #262626; /* oklch(0.269 0 0) */
  --ring: #525252; /* oklch(0.439 0 0) */
  --chart-1: #2563EB;
  --chart-2: #10B981;
  --chart-3: #F59E0B;
  --chart-4: #8B5CF6;
  --chart-5: #EF4444;
  --sidebar: #1A1A1A;
  --sidebar-foreground: #FAFAFA;
  --sidebar-primary: #2563EB;
  --sidebar-primary-foreground: #FAFAFA;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #FAFAFA;
  --sidebar-border: #262626;
  --sidebar-ring: #525252;
}

@theme inline {
  --font-sans: 'Geist', 'Geist Fallback';
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}  

